.privacyPolicyContent h3 {
    font-family: var(--red-hat-display);
    font-weight: var(--semi-bold);
    font-size: 44px;
    color: var(--headline-light-text);

    width: 70%;

    margin: 2em 0em .5em 0em;
}