.privacyPolicyContent h3 {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: var(--semi-bold);
    font-size: 44px;
    color: #F4F4F4;

    width: 70%;

    margin: 2em 0em .5em 0em;
}