.scrollDownContainer {
    position: relative;
    width: 182px;
    height: 52px;
}

.scrollDownIcon {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    opacity: 0;

    pointer-events: none;

    transition: opacity 0.4s ease;

    cursor: pointer;
}

.scrollDownIcon.default {
    pointer-events: all;
}

.scrollDownIcon.fadeIn {
    opacity: 1;
}

.scrollDownIcon.fadeOut {
    opacity: 0;
}