.solomon {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    gap: 4em;

    transform: translateY(-150px);
}

.solomonBackgroundContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 825px;
    width: 1265px;

    margin-top: 12em;
    padding: 5em 0em;

    border-radius: 2em;
    background-color: var(--bg-color-90);
}

.solomon .solomonColumns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
}