@media screen and (max-width: 1450px) {
    .solomon {
        width: 100%;
        padding: 0em;
    }

    .solomon .solomonContent {
        width: calc(1050px - 6em);
    }

    .solomon .solomonContent .leftColumn {
        width: 55%;
    }

    .solomon .solomonContent .rightColumn {
        width: 45%;
    }

    .title h4 {
        font-size: 18px;
    }

    .title h1 {
        font-size: 64px;
    }

    .title p {
        font-size: 17px;
        width: 80%;
    }

    .functionalities {
        gap: 2em;
    }

    .functionalities .functionalityCard p {
        width: 95%;
    }
}

@media screen and (max-width: 1150px) {
    .solomon .solomonContent {
        flex-direction: column;
        gap: 4em;
        width: calc(800px - 6em);

        padding: 4em 3em;
    }

    .title {
        width: 100%;
    }

    .title h4 {
        font-size: 22px;
    }

    .title h1 {
        font-size: 66px;
    }

    .title p {
        font-size: 18px;
        width: 90%;
    }

    .videoContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        aspect-ratio: 1.5/1;

        border-radius: 2em;
        background-color: #F4F4F4;
    }

    .functionalities {
        width: 100%;
        gap: 0em;
        justify-content: space-between;
    }

    .functionalities .functionalityCard {
        width: 40%;
    }

    .functionalities .functionalityCard .row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1em;
    }

    .functionalities .functionalityCard .row h3 {
        margin-top: .15em;
    }

    .functionalities .functionalityCard:nth-child(3),
    .functionalities .functionalityCard:nth-child(4) {
        margin-top: 3em;
    }

    .functionalities .functionalityCard h3 {
        font-size: 20px;
    }

    .functionalities .functionalityCard p {
        margin-top: 0em;
    }
}

@media screen and (max-width: 900px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 600px) {

}

@media screen and (max-width: 475px) {

}

@media screen and (max-width: 350px) {

}