.howWeGetThingsDone h1 {
    font-family: var(--red-hat-display);
    font-weight: var(--semi-bold);
    font-size: 74px;
    color: var(--headline-light-text);

    width: 60%;

    text-align: center;

    line-height: 1;
}