footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3em;
    width: 1250px;

    margin-bottom: 3em;
}

footer .firstRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

footer .firstRow,
footer .secondRow,
footer .thirdRow {
    width: 100%;
}

footer .secondRow svg {
    height: auto;
    width: 100%;
}

footer .thirdRow p.privacyAndTermsParagraph {
    width: fit-content;

    font-family: var(--nunito-sans);
    font-weight: var(--bold);
    font-size: 18px;
    color: var(--bg-color-70);

    border-bottom: .15em solid var(--bg-color-70);

    cursor: pointer;

    transition: color 0.4s ease,
                border-color 0.4s ease;
}

footer .thirdRow p.privacyAndTermsParagraph:hover {
    color: var(--brand-color-50);
    border-color: var(--brand-color-50);
}

footer .thirdRow p.privacyAndTermsParagraph:active {
    color: var(--brand-color-60);
    border-color: var(--brand-color-60);
}