.solomon .solomonColumns .functionalities {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 3em;
    width: 40%;
}

.solomon .solomonColumns .functionalities .functionalityCard {
    display: flex;
    flex-direction: column;

    width: 280px;

    padding-left: 1em;

    border-left: .15em solid var(--bg-color-50);
}

.solomon .solomonColumns .functionalities .functionalityCard h4 {
    font-family: var(--headline-text-font);
    font-weight: var(--bold);
    font-size: 26px;
    color: var(--headline-light-text);
}

.solomon .solomonColumns .functionalities .functionalityCard p {
    font-family: var(--body-text-font);
    font-weight: var(--medium);
    font-size: 16px;
    color: var(--bg-color-50);
}