.functionalities {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 3.25em;
    width: 95%;
}

.functionalities .functionalityCard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .5em;
    height: fit-content;
    width: 45%;
}

.functionalities .functionalityCard h3 {
    font-family: var(--red-hat-display);
    font-weight: var(--semi-medium);
    color: var(--body-light-text);
}

.functionalities .functionalityCard p {
    font-family: var(--nunito-sans);
    font-weight: var(--regular);
    color: var(--body-light-text);

    margin-top: .25em;
}