.solomon h1.title {
    font-family: var(--headline-text-font);
    font-size: 50px;
    font-weight: var(--semi-bold);
    color: var(--headline-light-text);

    width: 1000px;

    text-align: center;
}

.solomon h1.title span.gradientedText {
    background: linear-gradient(
        to left,
        var(--gradient-color)
    );

    background-clip: initial;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}