.title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .5em;
}

.title h4 {
    font-family: var(--red-hat-display);
    font-weight: var(--regular);
    font-size: 20px;
    color: var(--headline-light-text);
}

.title h1 {
    font-family: var(--red-hat-display);
    font-weight: var(--medium);
    font-size: 68px;

    background: linear-gradient(
        to right,
        var(--gradient-color)
    );
    background-clip: initial;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title p {
    width: 75%;

    font-family: var(--nunito-sans);
    font-weight: var(--semi-medium);
    font-size: 18px;
    color: var(--headline-light-text);
}