.solomon .solomonContent .rightColumn .videoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 2/1.65;
    max-height: 400px;
    width: 95%;

    border-radius: 2em;
    background-color: rgb(224, 224, 224);
}

.solomon .solomonContent .rightColumn .videoContainer h1 {
    font-size: 2em;
}