.solomon .videoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 2/1.2;
    width: 80%;

    border-radius: 2em;
    background-color: rgb(224, 224, 224);
}

.solomon .videoContainer h1 {
    font-size: 2em;
}