.serviceDescription {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 480px;
    width: 50%;
}

.serviceDescriptionContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: calc(100% - 2em);
    padding: 2em 3em;
    border-radius: 2em;
    background-color: #202020;
}

.leftColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 70%;
    gap: 1.25em;
}

.leftColumn h4 {
    font-family: var(--headline-text-font);
    font-weight: var(--semi-bold);
    font-size: 30px;
    color: var(--headline-light-text);
    margin-bottom: .5em;
}

.rightColumn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 30%;
}

.icon {
    width: 150px;
    height: 150px;
    transition: opacity .25s linear;
}

.icon.exiting {
    opacity: 0.25;
}

.icon.entering {
    opacity: 1;
}

.stepPoint {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.stepPoint svg {
    height: 16px;
    width: 16px;
}

.stepPoint p {
    font-family: var(--body-text-font);
    font-weight: var(--semi-medium);
    font-size: 20px;
    color: var(--body-light-text);
    transition: opacity .25s linear;
}

.stepPoint p.exiting {
    opacity: 0.25;
}

.stepPoint p.entering {
    opacity: 1;
}
