.aboutUs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    padding: 10em 0em;

    background-color: var(--bg-color-90);
}

.aboutUs .aboutUsContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 1265px;
    gap: .5em;

    color: var(--body-light-text);
}

.aboutUs .aboutUsContent .firstRow {
    width: 100%;
}

.aboutUs .aboutUsContent .secondRow {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    width: 100%;
}