.whyUs .whyUsContent .secondRow .secondRowContent h4 {
    font-family: var(--red-hat-display);
    font-weight: var(--semi-bold);
    font-size: 36px;
    color: var(--headline-light-text);

    padding-left: .5em;
}