.whyUs .whyUsContent .secondRow .secondRowContent p {
    font-family: var(--nunito-sans);
    font-weight: var(--regular);
    font-size: 18px;
    color: var(--body-light-text);

    width: calc(60% - 1.1em);
    padding-left: 1.1em;
}