.whyUs .whyUsContent .secondRow .secondRowContent p {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: var(--regular);
    font-size: 18px;
    color: #F4F4F4;

    width: calc(60% - 1.1em);
    padding-left: 1.1em;
}