.addingContext .leftColumn h1 {
    font-family: var(--headline-text-font);
    font-weight: var(--semi-bold);
    font-size: 72px;
    color: var(--headline-light-text);
    line-height: 1;
}

.addingContext .leftColumn h1 span.gradientedTitle {
    background: linear-gradient(to left, var(--gradient-color));
    background-clip: initial;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}