header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    height: fit-content;

    color: var(--headline-light-text);
    background-color: var(--bg-color-100);

    z-index: 999;
}

header .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 100px;
    width: calc(100% - 6em);

    padding: 0em 3em;
}
