.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    height: fit-content;

    color: #F4F4F4;
    background-color: #131313;

    transition: transform 0.3s ease;

    z-index: 999;
}

.header.hidden {
    transform: translateY(-100%);
}

.header.visible {
    transform: translateY(0);
}

.header .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    min-height: 70px;
    height: 10dvh;
    width: calc(100% - 6em);

    padding: 0em 3em;
}
