nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

nav span {
    font-size: 16px;

    cursor: pointer;
}

nav button {
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    font-weight: var(--medium);

    padding: .75em 1.15em;

    border-radius: 2em;
    background-color: #F6F6F6;

    border: none;
    outline: none;

    cursor: pointer;
}