.howWeGetThingsDone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    padding: 5em 0em;

    background-color: var(--bg-color-90);
}

.howWeGetThingsDoneContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1265px;
}