.form .leftColumn .formTitle {
    position: fixed;

    z-index: 2;
}

.form .leftColumn .formTitle h1 {
    font-family: "Red hat display", sans-serif;
    font-weight: var(--semi-bold);
    font-size: 56px;

    color: #FFFFFF;
}