nav.desktopView {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4em;
}

nav.desktopView span {
    font-family: var(--body-text-font);
    font-size: 16px;
    font-weight: var(--semi-bold);

    border-bottom: .1em solid transparent;

    cursor: pointer;

    transition: color .4s ease,
                border-color .4s ease;
}

nav.desktopView button.originalBtn {
    font-size: 16px;
}

nav.desktopView span:hover {
    color: var(--brand-color-50);
    border-color: var(--brand-color-50);
}

nav.desktopView span:active {
    color: var(--brand-color-60);
    border-color: var(--brand-color-60);
}