nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4em;
}

nav span {
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    font-weight: var(--semi-bold);

    cursor: pointer;
}

nav button.originalBtn {
    font-size: 16px;
}