.getInTouch .getInTouchContent .firstColumn p {
    font-family: var(--body-text-font);
    font-weight: var(--semi-medium);
    font-size: 22px;

    width: 75%;

    color: var(--body-light-text);
}