.getInTouch .getInTouchContent .firstColumn .getInTouchHeading {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.getInTouch .getInTouchContent .firstColumn .getInTouchHeading h2 {
    font-family: var(--headline-text-font);
    font-weight: var(--semi-bold);
    font-size: 52px;

    color: var(--body-light-text);
}

.getInTouch .getInTouchContent .firstColumn .getInTouchHeading h2 span.gradient1 {
    background: linear-gradient(
        to left,
        var(--gradient-color)
    );
    background-clip: initial;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.getInTouch .getInTouchContent .firstColumn .getInTouchHeading h2 span.gradient2 {
    color: #5c6fff;
}