button.originalBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .5em;

    font-family: var(--body-text-font);
    font-size: 18px;
    font-weight: var(--bold);
    color: var(--headline-dark-text);

    padding: .75em 1.15em;

    border-radius: 2em;
    background-color: var(--bg-color-10);

    border: none;
    outline: none;

    cursor: pointer;

    transition: color 0.4s ease,
                background-color 0.4s ease;
}

@media screen and (min-width: 769px) {
    button.originalBtn:hover {
        color: var(--headline-light-text);
        background-color: var(--brand-color-50);
    }

    button.originalBtn:active {
        color: var(--headline-light-text);
        background-color: var(--brand-color-60);
    }
}