.intuitiveDesign {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 1265px;
    min-height: fit-content;
    gap: 0;
}

.intuitiveDesign .leftColumn,
.intuitiveDesign .rightColumn {
    min-height: fit-content;
    height: 100%;
    margin: 0;
}

.intuitiveDesign .leftColumn {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
}

.intuitiveDesign .rightColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 1em;
    width: 50%;
}