.legalEfficiency {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1265px;
    padding-top: 7em;
    gap: 5em;
}

.legalEfficiency .enhancements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}