.intuitiveDesign .rightColumn p {
    font-family: var(--headline-text-font);
    font-weight: var(--bold);
    font-size: 20px;
    color: var(--bg-color-50);
    width: 85%;
}

.intuitiveDesign .rightColumn p span.whiteText {
    color: var(--body-light-text);
}