.intuitiveDesign .leftColumn .laptopContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    aspect-ratio: 2 / 1.2;
    width: 90%;
    border-radius: 1.5em;
}

.intuitiveDesign .leftColumn .laptopContainer svg {
    width: 650px;
    transform: translateX(-50px);
}