.intuitiveDesign .leftColumn h2 {
    font-family: var(--headline-text-font);
    font-weight: var(--semi-bold);
    font-size: 62px;
    color: var(--headline-light-text);

    line-height: 1.2;
}

.intuitiveDesign .leftColumn h2 p.gradientedTitle {
    background: linear-gradient(to left, var(--gradient-color));
    background-clip: initial;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}