.form .formContent .formColumns .rightColumn .rightColumnContent .privacyPolicyCheckboxContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.form .formContent .formColumns .rightColumn .rightColumnContent .privacyPolicyCheckboxContainer .privacyPolicyCheckboxContainerContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .5em;
}

.form .formContent .formColumns .rightColumn .rightColumnContent .privacyPolicyCheckboxContainer .privacyPolicyCheckboxContainerContent svg {
    cursor: pointer;
}

.form .formContent .formColumns .rightColumn .rightColumnContent .privacyPolicyCheckboxContainer .privacyPolicyCheckboxContainerContent p {
    font-family: var(--body-text-font);
    font-weight: var(--regular);
    font-size: 16px;

    color: var(--body-light-text);

    line-height: 24px;
}

.form .formContent .formColumns .rightColumn .rightColumnContent .privacyPolicyCheckboxContainer .privacyPolicyCheckboxContainerContent span.coloredParagraph {
    width: fit-content;

    color: var(--brand-color-60);

    border-bottom: .1em solid var(--bg-color-100);

    cursor: pointer;
}

.form .formContent .formColumns .rightColumn .rightColumnContent .privacyPolicyCheckboxContainer .privacyPolicyCheckboxContainerContent span.coloredParagraph:hover {
    border-bottom: .1em solid var(--brand-color-60);
}