.form .formContent .formColumns .rightColumn .rightColumnContent .contentForm textarea {
    width: 100%;
    resize: none;
}

.form .formContent .formColumns .rightColumn .rightColumnContent .contentForm textarea::-webkit-scrollbar-thumb:hover {
    cursor: default;
}

.form .formContent .formColumns .rightColumn .rightColumnContent .contentForm textarea {
    font-family: var(--nunito-sans);
    font-weight: var(--medium);
    font-size: 18px;

    width: calc(100% - 2em);

    padding: 1em 1em;

    border-radius: 1em;

    color: var(--body-light-text);
    background-color: var(--bg-color-80);

    border: .15em solid var(--bg-color-100);
    outline: none;
    transition: color 0.3s linear, background-color 0.3s linear;
}

.form .formContent .formColumns .rightColumn .rightColumnContent .contentForm textarea {
    padding: .5em 1em;
}

.form .formContent .formColumns .rightColumn .rightColumnContent .contentForm textarea:focus {
    color: var(--bg-color-100);
    background-color: var(--bg-color-20);
    transition: color 0.3s linear, background-color 0.3s linear;
}

.form .formContent .formColumns .rightColumn .rightColumnContent .contentForm textarea::placeholder {
    color: var(--bg-color-40);
}

.form .formContent .formColumns .rightColumn .rightColumnContent .contentForm textarea:focus::placeholder {
    color: var(--bg-color-70);
}