.form .formContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: calc(100dvh - 2em);
    max-height: calc(100dvh - 2em);
    width: 100%;

    position: absolute;
    top: 0;

    padding-bottom: 2em;

    z-index: 1;

    opacity: 1;

    transition: opacity 0.3s linear;

    overflow-y: auto;
}

.form .formContent.hide {
    opacity: 0;
}

.form .formContent .formColumns {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    width: 100%;

    margin-top: 100px;
}

.form .formContent .formColumns .leftColumn {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 40%;
}

.form .formContent .formColumns .rightColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.form .formContent .formColumns .rightColumn .rightColumnContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1em;
    flex: 1;
    width: 80%;
}

.form .formContent .formColumns .rightColumn .rightColumnContent h2 {
    width: 100%;

    font-family: var(--headline-text-font);
    font-weight: var(--semi-bold);
    font-size: 44px;
    color: var(--bg-color-10);
}

.form .formContent .formColumns .rightColumn .rightColumnContent h3 {
    width: 100%;

    font-family: var(--headline-text-font);
    font-weight: var(--medium);
    font-size: 24px;
    color: var(--body-light-text);
}

.form .formContent .formColumns .rightColumn .rightColumnContent p.errorMessage {
    font-family: var(--body-text-font);
    font-weight: var(--bold);
    font-size: 14px;

    padding-top: .5em;

    color: var(--error-color);
}

.form .formContent .formColumns .rightColumn .rightColumnContent p.errorMessage.formError {
    font-size: 16px;
}

.form .formContent .formColumns .rightColumn .rightColumnContent .contentForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 100%;
    gap: .75em;
}

.form .formContent .formColumns .rightColumn .rightColumnContent .contentForm .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.form .formContent .formColumns .rightColumn .rightColumnContent .contentForm .row {
    position: relative;
}

.form .formContent .formColumns .rightColumn .rightColumnContent .contentForm .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}