.form .formContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100dvh - 3em);
    width: 100%;

    position: absolute;
    top: 0;

    padding-bottom: 3em;

    z-index: 1;

    opacity: 1;

    transition: opacity 0.3s linear;
}

.form .formContent.hide {
    opacity: 0;
}

.form .formContent .formColumns {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    width: 100%;
}

.form .formContent .formColumns .leftColumn {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 40%;
}

.form .formContent .formColumns .rightColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}