.aboutUsHero .heroContent .textContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.aboutUsHero .heroContent .textContent h1 {
    font-family: var(--headline-text-font);
    font-weight: var(--semi-bold);
    font-size: 80px;

    background: linear-gradient(
        to right,
        var(--gradient-color)
    );
    background-clip: initial;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.aboutUsHero .heroContent .textContent h4 {
    font-family: var(--headline-text-font);
    font-weight: var(--medium);
    font-size: 24px;
    color: var(--headline-light-text);

    width: 575px;
    text-align: center;
}