.options {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2em;
    width: 55%;
}

.options span {
    font-family: var(--nunito-sans);
    font-weight: var(--semi-bold);
    font-size: 16px;
    color: var(--headline-light-text);

    border-bottom: .15em solid var(--headline-light-text);

    cursor: pointer;

    transition: color .4s ease,
                border-color .4s ease;
}

.options span:hover {
    color: var(--brand-color-50);
    border-color: var(--brand-color-50);
}

.options span:active {
    color: var(--brand-color-60);
    border-color: var(--brand-color-60);
}