.options {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2em;
    width: 55%;
}

.options span {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: var(--semi-bold);
    font-size: 16px;

    border-bottom: .15em solid #FFFFFF;

    cursor: pointer;

    transition: color .4s ease,
                border-color .4s ease;
}

.options span:hover {
    color: #5E71FE;
    border-color: #5E71FE;
}

.options span:active {
    color: #9DA9FE;
    border-color: #9DA9FE;
}