.textContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 30%;
}

.textContainer p {
    font-family: var(--nunito-sans);
    font-weight: var(--semi-medium);
    font-size: 18px;
    color: var(--body-light-text);

    width: 70%;
}