.solomonPage .headerHero .hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    min-height: 90dvh;
    width: 1265px;

    padding-top: 3em;
}

.solomonPage .headerHero .hero h1 {
    font-family: var(--headline-text-font);
    font-weight: var(--semi-bold);
    font-size: 72px;
    color: var(--headline-light-text);
}

.solomonPage .headerHero .hero h3 {
    font-family: var(--headline-text-font);
    font-weight: var(--semi-bold);
    font-size: 28px;
    color: var(--headline-light-text);
    text-align: center;

    width: 80%;
}

.solomonPage .headerHero .hero {
    max-height: 90dvh;
}

.solomonPage .headerHero .hero .solomonDesktop {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-120px, -180px);
}

.solomonPage .headerHero .hero .solomonDesktop svg {
    width: 120%;
}