.aboutUs .secondRow .rightColumn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3em;
    width: 50%;
}

.aboutUs .secondRow .rightColumn p {
    width: 92%;

    font-family: var(--body-text-font);
    font-weight: var(--medium);
    font-size: 20px;
}

.aboutUs .secondRow .rightColumn button.originalBtn {
    font-weight: var(--semi-bold);
    font-size: 18px;

    padding: .5em 1em;

    color: var(--headline-light-text);
    background-color: transparent;

    border: .15em solid var(--headline-light-text);

    transition: color .4s ease,
                border-color .4s ease;
}

@media (hover: hover) {
    .aboutUs .secondRow .rightColumn button.originalBtn:hover {
        color: var(--brand-color-50);
        border-color: var(--brand-color-50);
    }

    .aboutUs .secondRow .rightColumn button.originalBtn:active {
        color: var(--brand-color-60);
        border-color: var(--brand-color-60);
    }
}