.legalEfficiency .enhancements .enhancement {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 28%;
}

.legalEfficiency .enhancements .enhancement h5 {
    font-family: var(--headline-text-font);
    font-weight: var(--bold);
    font-size: 28px;
    color: var(--bg-color-20);
}

.legalEfficiency .enhancements .enhancement:first-child h5,
.legalEfficiency .enhancements .enhancement:nth-child(2) h5,
.legalEfficiency .enhancements .enhancement:nth-child(3) h5 {
    height: 85px;
}

.legalEfficiency .enhancements .enhancement:nth-child(4) h5,
.legalEfficiency .enhancements .enhancement:nth-child(5) h5,
.legalEfficiency .enhancements .enhancement:last-child h5 {
    margin-top: 2em;
    height: 50px;
}

.legalEfficiency .enhancements .enhancement p {
    font-family: var(--body-text-font);
    font-weight: var(--medium);
    font-size: 20px;
    color: var(--bg-color-40);
}