.form .formContent .formColumns .rightColumn .rightColumnContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.25em;
    flex: 1;
    width: 80%;
}

.form .formContent .formColumns .rightColumn .rightColumnContent h2 {
    width: 100%;

    font-family: "Red Hat Display", sans-serif;
    font-weight: var(--semi-bold);
    font-size: 38px;
    color: #F6F6F6;
}

.form .formContent .formColumns .rightColumn .rightColumnContent h3 {
    width: 100%;

    font-family: "Red Hat Display", sans-serif;
    font-weight: var(--medium);
    font-size: 20px;
    color: #F1F1F1;
}

.form .formContent .formColumns .rightColumn .rightColumnContent p.errorMessage {
    font-family: "Nunito Sans", sans-serif;
    font-weight: var(--bold);
    font-size: 14px;

    padding-top: .5em;

    color: #DD7B7E;
}

.form .formContent .formColumns .rightColumn .rightColumnContent p.errorMessage.formError {
    font-size: 16px;
}

.form .formContent .formColumns .rightColumn .rightColumnContent .contentForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: .75em;
}

.form .formContent .formColumns .rightColumn .rightColumnContent .contentForm .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.form .formContent .formColumns .rightColumn .rightColumnContent .contentForm .row {
    position: relative;
}

.form .formContent .formColumns .rightColumn .rightColumnContent .contentForm .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}