.form .formHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    width: calc(100% - 6em);

    padding: 0em 3em;
}

.form .formHeader svg {
    height: 20px;
}

.form .formHeader svg.formHeaderLogo {
    width: 120px;
}

.form .formHeader svg.formClose {
    cursor: pointer;
}