.form .formContent .formColumns .rightColumn .rightColumnContent .contentForm input {
    font-family: var(--body-text-font);
    font-weight: var(--medium);
    font-size: 18px;

    width: calc(100% - 2em);

    padding: 1em 1em;

    border-radius: 1em;

    color: var(--body-light-text);
    background-color: var(--bg-color-80);

    border: .15em solid #131313;
    outline: none;
    transition: color 0.3s linear, background-color 0.3s linear;
}

.form .formContent .formColumns .rightColumn .rightColumnContent .contentForm input:focus {
    color: var(--bg-color-100);
    background-color: var(--bg-color-20);
    transition: color 0.3s linear, background-color 0.3s linear;
}

.form .formContent .formColumns .rightColumn .rightColumnContent .contentForm input::placeholder {
    color: var(--bg-color-40)
}

.form .formContent .formColumns .rightColumn .rightColumnContent .contentForm input:focus::placeholder {
    color: var(--bg-color-70)
}

.form .formContent .formColumns .rightColumn .rightColumnContent .contentForm .fullSizeInput {
    width: 100%;

    position: relative;
}

.form .formContent .formColumns .rightColumn .rightColumnContent .contentForm .halfSizeInput {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 49%;
}