:root {
  font-family: "Red Hat Display", sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --regular: 200;
  --semi-medium: 300;
  --medium: 400;
  --semi-bold: 550;
  --bold: 700;
}

body {
  margin: 0;

  background-color: #131313;

  overflow-x: hidden;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100dvh;
}

.app .homePage,
.app .aboutUsPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100dvh;
  gap: 7em;

  animation: showContent 1s ease;
}

.app .privacyPolicyPage {
  animation: showContent 1s ease;
}

.no-scroll {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #2d2d2d;
}

::-webkit-scrollbar-thumb {
  background-color: #555555;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6b6b6b;
}

::placeholder {
  user-select: none;
}

@keyframes showContent {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}