:root {
  font-family: "Red Hat Display", sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --light-weight: 200;
  --medium-weight: 400;
  --large-weight: 700;
}

body {
  margin: 0;
}