:root {
  font-family: "Red Hat Display", sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --regular: 200;
  --medium: 400;
  --semi-bold: 550;
  --bold: 700;
}

body {
  margin: 0;
}