.title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .5em;
}

.title h4 {
    font-family: "Red Hat Display", sans-serif;
    font-weight: var(--regular);
    font-size: 20px;
    color: #F4F4F4;
}

.title h1 {
    font-family: "Red Hat Display", sans-serif;
    font-weight: var(--medium);
    font-size: 68px;

    background: linear-gradient(
        to right,
        #5E71FE 0%,
        #7E8DFE 47%,
        #B8C1FF 94%
    );
    background-clip: initial;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title p {
    width: 95%;

    font-family: "Nunito Sans", sans-serif;
    font-weight: var(--semi-medium);
    font-size: 18px;
    color: #F4F4F4;
}