.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.cards .card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    height: calc(190px - 4em);
    width: calc(30% - 2em);

    padding: 2em 1em;

    color: var(--body-light-text);
    background-color: var(--bg-color-90);

    border-radius: 1em;
}

.cards .card .cardHeader {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.cards .card .cardHeader svg {
    margin-right: 1em;
}

.cards .card .cardHeader h4 {
    font-family: var(--red-hat-display);
    font-weight: var(--semi-bold);
    font-size: 30px;
}

.cards .card .cardHeader h4.cardPercent {
    color: var(--brand-color-50);
}

.cards .card .cardDescription {
    width: 100%;
}

.cards .card .cardDescription p {
    font-family: var(--nunito-sans);
    font-weight: var(--semi-medium);
    font-size: 17px;
}