.boosts .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    margin-top: 1em;
}

.boosts .title h2 {
    font-family: var(--headline-text-font);
    font-weight: var(--semi-bold);
    font-size: 60px;

    line-height: 1;
}

.boosts .title h2.normalTitle {
    color: var(--headline-light-text);
}

.boosts .title h2.gradientedTitle {
    background: linear-gradient(
        to right,
        var(--gradient-color)
    );

    background-clip: initial;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}