.whyUs {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;

    padding: 1em 0em;
}

.whyUs .whyUsContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1265px;
}

.whyUs .whyUsContent .firstRow {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.whyUs .whyUsContent .firstRow h1 {
    font-family: var(--headline-text-font);
    font-weight: var(--semi-bold);
    font-size: 74px;
    color: var(--headline-light-text);

    width: 70%;

    line-height: 1;
}

.whyUs .whyUsContent .secondRow {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.whyUs .whyUsContent .secondRow .secondRowContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 70%;
    gap: 2em;
}